.hero {
    height: 80vh;
    width: 100%;
    background-color: #1F2937;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-top: 40px;
    padding-right: 10%;
}

.logo {
    color: #F9FAF8;
    font-size: 28px;
}

nav ul li {
    padding: 10px 20px;
    display: inline-block;
    list-style-type: none;
}

hr {
    color: #1F2937;
}


nav ul li a {

    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: red;
    transition: .3s;
}

.heading1,
h1 {
    color: #F9FAF8;
    align-items: center;
    justify-content: space-between;
    font-size: 48px;
    font-weight: bold;
    margin: auto;
    padding-left: 30px;
    font-family: "Times New Roman", Helvetica, sans-serif;
}


.heading2,
p {
    color: #F9FAF8;
    justify-content: space-between;
    text-align: left;
    padding-left: 17px;
    font-size: 18px;
    margin: auto;
    font-family: "Times New Roman", Helvetica, sans-serif;
}


.container .descendent1 {
    justify-content: right;
    height: 200px;
    padding-left: 290px;
}

#logo_manipulation {
    padding-left: 10px;
}

#move {
    flex-direction: row;
    display: flex;
}

button {

    border: none;
    background-color: #3882F6;
    margin-top: 10px;
    padding: 17px 30px;
    border-radius: 30px;
    text-align: center;
    color: white;
    margin-left: 4em;
}


.hero2 {
    height: 63vh;
    width: 100%;
    background-color: white;
}


.mainStyle .descendent2 {

    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.card {
    text-align: center;
    max-width: 200px;
    margin: 2em;

}

.square {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
    padding-right: 10px;
    gap: 25px;
}

.belowText {
    color: black;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 4em;
    padding-top: 1em;
    font-weight: bold;
}

.cute {

    height: 161px;
    width: 170px;
    border-radius: 17px;
}

.hero3 {

    height: 60vh;
    width: 100%;
    background-color: #E5E7EB;
}


.quote-container {

    display: flex;
    flex-direction: row;
}

.quote {

    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font: italic;
    font-weight: 100;
    margin-top: 5em;

}

#author {
    font-size: 40px;
    font-weight: bold;
    padding-left: 16em;
}

.hero4 {
    width: 100%;
    height: 65vh;
    background-color: white;
}

.div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}


.rectangle {
    align-content: center;
    margin-top: 10em;
    border: 4px solid #3882F6;
    background-color: #3882F6;
    border-radius: 20px;
    width: 900px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.rectangle h2 {
    color: #E5E7EB;
    margin: auto;
    /* text-align: center; */

}

.bottomButton {
    border: 2px solid #E5E7EB;
    margin: auto;
    border-radius: 30px;
    text-align: center;
    align-content: center;
    color: white;
    margin-left: 4em;
}

.rec {
    margin: auto;

}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding-top: 50px;
    font-size: 150%;
    font-weight: bold;
    height: 10vh;
    width: 100%;
}